* {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.home-header-main-background-image {
    background: url('..//img/worktable.jpg') center center no-repeat;
}
/* logotype, navigation menu, search */
.home-header-background {
    background: rgba(68,67,62, 0.9);
}
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-header > a {
    display: inline-block;
    padding: 24px 0;
    border-bottom: 2px solid transparent;
}
.home-header nav {
    display: flex;
    position: relative;
}
.home-header ul {
    display: flex;
    list-style: none;
    margin: 0;
}
.home-header li a {
    display: inline-block;
    padding: 52px 9px;
    color: #b8b8b8;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}
/* .home-header {background: #B46381;} */
.home-header form {
    height: 120px;
    color: #a5a5a5;
    font-size: 13px;
    border-bottom: 2px solid transparent;
}
.home-header input {
    height: 120px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0px;
    right: -19px;
    z-index: 2;
}
.home-header input:focus {
    width: 675px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
    background: #fff;
    height: 55px;
    top: 33px;
    right: 42px;
    color: #a5a5a5;
    font-size: 13px;
}
.home-header button {
    background: transparent url(../img/search.png) center center no-repeat;
    border: none;
    vertical-align: middle;
    height: 120px;
    width: 42px;
    outline: none;
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
}
.home-header button:before {
    content: "";
    color: #a5a5a5;
    font-size: 13px;
}
.home-header button:active {
    border-bottom-color: #18cfab;
    color: #18cfab;
} 
.home-header > a:hover,
.home-header li a:hover,
.home-header form:hover {
    border-bottom-color: #18cfab;
    color: #18cfab;
}
/* search hover, topic, buttons explore now & purchase now, slider */
.home-main-background {
    background: rgba(60,60,60, 0.7);
}
.home-main {
    display: flex;
    justify-content: center;
    height: 885px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
}
.home-main span {
    color: #18cfab;
}
.home-main div:nth-child(2) {
    margin-top: 40px;
    font-size: 79px;
}
.home-main div:nth-child(3) {
    margin-top: 40px;
    color: #d4d4d4;
    font-weight: 300;
    text-transform: capitalize;
}
.home-main div:nth-child(4) {
    margin-top: 140px;
}
.home-main a:active {
    border-top-color: #d4d4d4;
}
.home-main a:first-child,
.home-main a:last-child {
    background: #18cfab;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 25px 35px 30px;
    border-radius: 5px;
    margin: 0 14px;
    border-top: 5px solid #18cfab;
}
.home-main a:last-child {
    background: #00cbf6;
    border-top: 5px solid #00cbf6;
}
.home-main a:active {
    border-top-color: #fff;
}

/* home - 4 pictures */
.home-bottom {    
    display: flex;
    height: 375px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.home-bottom div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 7px solid transparent;
}
.home-bottom div:nth-child(2n-1) {
    background: #1c2a33;
    color: #18cfab;
    border-top-color: #18cfab;
}
.home-bottom div:nth-child(2n) {
    background: #18cfab;
    color: #fff;
    border-top-color: #fff;
}
.home-bottom span {
    margin-top: 47px;
}
/* about - */
.about-header {
    font-weight: 300;
    padding: 100px 15px;
    text-transform: capitalize;
}
.about-header h2{
    font-size: 36px;
    text-align: center;
    display: block;
    position: relative;
    padding-bottom: 36px;
    margin-bottom: 65px;
}
.about-header h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 76px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.about-header h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 62px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.about-header div {
    width: 33%;
    display: inline-block;
}
.about-header span {
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    padding-left: 15px;
}
.about-header p {
    line-height: 1.5;
    text-transform: none;
}
/* about-main - 3 pictures */
.about-main-background-image {
    background: url('..//img/phone.jpg') center center no-repeat;
}
.about-main-background-color {
    background:rgba(9,15,20, 0.7);
}
.about-main {
    text-align: center;
    padding: 100px 15px;
}
.about-main h2 {
    text-transform: capitalize;
    font-size: 36px;
    color: #fff;
    display: block;
    position: relative;
    padding-bottom: 36px;
}
.about-main h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 76px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.about-main h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 62px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.about-main a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 42px;
    display: inline-block;
    border-top: 2px solid transparent;
    padding: 11px;
    margin-top: 70px;
}
.about-main a:hover {
    border-top-color: #18cfab;
    color: #18cfab;
}
.about-main div {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 14px;
    text-align: start;
}
/* skills - title, slider */
.skills {
    text-align: center;
    margin: 100px auto;
}
.skills h2 {
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    display: block;
    position: relative;
    padding-bottom: 36px;
}
.skills h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 76px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.skills h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 62px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.skills div {
    display: flex;
    justify-content: center;
}
.skills div a {
    color: #717171;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 42px;
    border: 1px solid #ebebeb;
    padding: 11px;
    margin-top: 70px;
}
.skills div a:hover {
    border-top-color: #18cfab;
    color: #18cfab;
}
.skills > a {
    background: #18cfab;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 25px 35px 30px;
    border-radius: 5px;
    margin-top: 75px;
    border-top: 5px solid transparent;
    text-transform: uppercase;
}
.skills span {
    font-size: 30px;
}
/* service - */
.service {
    text-align: center;
    margin: 100px auto;
}
.service h2 {
    margin-bottom: 65px;
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    display: block;
    position: relative;
    padding-bottom: 36px;
    font-weight: 400;
}
.service h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 49px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.service h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.tabs li {
    border: 1px solid #d1f5ee;
    font-size: 16px;
    color: #717171;
    display: inline-block;
    padding: 25px;
    text-transform: capitalize;
    cursor: pointer;
    float: left;
    margin: 0;
}
ul.tabs li a {
    color: #717171;
    text-decoration: none;
}
ul.tabs li.active a {
    color: #fff;
}
ul.tabs li.active {
    background: #18cfab;
}
.clr {
    clear: both;
}
.block article {
    padding-top: 25px;
    text-align: start;
}
/* work - title, button */
.work-background-image {
    background: url('..//img/product.png') center center no-repeat;
}
.work-background-color {
    background: rgba(64,71,75,.7);
}
.work {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
}
.work h2 {
    margin: 0;
    padding: 130px 0 35px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18cfab;
}
.work p {
    font-size: 16px;
    line-height: 40px;
    color: #d8d8d8;
    text-transform: none;
}
.work a {
    margin: 75px 0 125px;
    background: #18cfab;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    
    display: inline-block;
    padding: 25px 35px 30px;
    border-radius: 5px;
    border-top: 5px solid #18cfab;
}
.work a:active {
    border-top-color: #fff;
}
/* blog */
.blog {
    text-align: center;
}
.blog h2 {
    text-align: center;
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    position: relative;
    padding-bottom: 36px;
    font-weight: 400;
    margin-top: 100px;
}
.blog h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 49px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.blog h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.blog div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 115px;
}
.blog article {
    max-width: 265px;
    margin-top: 30px;
    position: relative;
    border: 1px solid #ececec;
}
.blog article div {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: #203e38;
    align-items: center;
}
.blog article div span {
    color: #fff;
    width: 100%;
}
.blog p {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    color: #717171;
}
.blog a {
    font-weight: 300;
    color: #777;
    font-size: 14px;
    padding: 0 15px;
}
.blog a:nth-child(2n) {
    border-right: 1px solid #777;
}
.blog article:hover p {
        color: #18cfab;
}
.blog article:hover div {
        background: #18cfab;
}
/* testimonial - 4 statistic buttons */
.testimonial {
    display: flex;
    height: 375px;
}
.testimonial div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 7px solid transparent;
}
.testimonial div:nth-child(2n-1) {
    background: #1c2a33;
    color: #18cfab;
    border-top-color: #18cfab;
}
.testimonial div:nth-child(2n) {
    background: #18cfab;
    color: #1c2a33;
    border-top-color: #1c2a33;
}
.testimonial p:first-of-type {
    color: #fff;
    font-size: 36px;
    padding: 0;
    margin: 25px 0 0;
}
/* price - */
.price h2 {
    text-align: center;
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    position: relative;
    padding-bottom: 36px;
    font-weight: 400;
    margin: 100px 0 70px;
}
.price h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 49px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.price h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.price div {
    color: #777;
    font-weight: 14px;
    display: flex;
    justify-content: center;
}
.price ul {
    width: 25%;
    list-style-type: none;
    padding: 0;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}
.price li {
    border: 1px solid #e5e6e7;
    padding: 20px 0 15px;
}
.price li:first-child {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.price li:nth-child(2) {
    background: #2e4a5b;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
}
.price li span {
    font-weight: 300;
    font-size: 14px;
}
.price a {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    background: #2e4a5b;
    display: inline-block;
    padding: 20px 50px;
    border-radius: 5px;
    text-transform: uppercase;
}
.price ul:nth-child(3) {
    box-shadow: -3px 5px 10px 0px #e3e6e8;
}
.price ul:nth-child(3) li:nth-child(1) {
    color: #1fdab5;
}
.price ul:nth-child(3) li:nth-child(2),
.price ul:nth-child(3) a {
    background: #18cfab;
}
.price ul:nth-child(3) li:nth-child(1):before {
    content: "offer";
    position: absolute;
    top: 17px;
    right: -20px;
    transform: rotate(45deg);
    background: #fff;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    height: 0; width: 53px;
    border-bottom: 17px solid #18cfab;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    vertical-align: middle;
}
/* comment - */
.comment-background-image {
    background: url('..//img/city.jpg') center center no-repeat;
}
.comment-background-color {
    background: rgba(64,71,75, .7);
}
.comment {
    text-align: center;
}
.comment h2 {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    padding: 100px 0 36px;
    margin: 0 0 70px;
    position: relative;
}
.comment h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 49px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.comment h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.comment img {
    display: inline-blocks;
    margin: 0 auto;
    
}
.slider-nav {
    padding-bottom: 100px;
}
.slider-for img {
    border: 10px solid #2b5f62;
    border-radius: 50%;
}
.slider-nav img {
    border: 10px solid #2b5f62;
    border-radius: 50%;
}
/* team */
.team {
    text-align: center;
}
.team h2 {
    text-align: center;
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    padding: 100px 0 36px;
    margin: 0 0 70px;
    position: relative;
}
.team h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 49px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.team h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.team div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team div > div {
    width: 265px;
    border: 1px solid #909fa8;
}
.team p {
    background: #2e4a5b;
    width: 100%;
    border: 1px solid #909fa8;
    margin: 0;
    padding: 21px 27px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.team a {
    background: #2e4a5b;
    border: 1px solid #909fa8;
    flex-grow: 1;
    padding: 25px 0 20px;
}
.team span {
    display: inline-block;
    padding-top: 10px;
    font-weight: 300;
    color: #18cfab;
}
.team div > div {
    position: relative;
}
.worker-1 {
    background: url('..//img/worker-1.jpg') center center no-repeat;
    width:265px;
    height:230px;
}
.worker-2 {
    background: url('..//img/worker-2.jpg') center center no-repeat;
    width:265px;
    height:230px;
}
.worker-3 {
    background: url('..//img/worker-3.jpg') center center no-repeat;
    width:265px;
    height:230px;
}
.worker-4 {
    background: url('..//img/worker-4.jpg') center center no-repeat;
    width:265px;
    height:230px;
}
.team div > div:hover a,
.team div > div:hover p {
    background: #18cfab;
    border-color: #c1f2e9;
}
.team div > div:hover span {
    color: #2e4a5b;
}
.hover {
    display: none;
    width:265px;
    height:230px;
    background: #8c9aa3;
    position: relative;
    z-index: 5;
}
.team div > div:hover .hover {
    display: block;
    background: #8c9aa3;
    opacity: 0.5;
}
#cross-1,
#cross-2,
#round-1,
#round-2 {
    position: absolute;
}
#cross-1 {
    display: none;
    background: #18cfab;
    height: 30px;
    width: 4px;
    left: 130px;
    top: 98px;
}
#cross-2 {
    display: none;
    height: 4px;
    width: 30px;
    background: #18cfab;
    left: 118px;
    top: 111px;
}
#round-1 {
    display: none;
    border: 5px solid #8c9aa3;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    background: #fff;
    top: 72px;
}
#round-2 {
    display: none;
    border: 2px solid #18cfab;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    top: 71px;
}
#cross-1 {
    z-index: 4;
}
#cross-2 {
    z-index: 3;
}
#round-1 {
    z-index: 2;
}
#round-2 {
    z-index: 1;
}

.team div > div:hover #cross-1 {
    display: block;
}
.team div > div:hover #cross-2 {
    display: block;
}
.team div > div:hover #round-1 {
    display: block;
}
.team div > div:hover #round-2 {
    display: block;
}
/* product - title, list, button, img */
.product-background-image {
    background: url('..//img/mountain.jpg') center center no-repeat;
}
.product-background-color {
     background: rgba(35,54,65,.7);
}
.product {
    padding-bottom: 215px;
    margin-top: 100px;
}
.product img {
    display: inline-block;
    float: left;
}
.product h2 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 130px;
}
.product h3 {
    font-size: 47px;
    font-weight: 400;
    color: #18cfab;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 85px;
}
.product ul {
    font-size: 14px;
    font-weight: 300;
    color: #f7f7f7;
    line-height: 35px;
    text-transform: capitalize;
    list-style-image: url("..//img/check.png");
    list-style-position: inside;
    margin: 100px 0 65px;
}
.product a {
    background: #18cfab;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 25px 35px 30px;
    border-radius: 5px;
    border-top: 5px solid #18cfab;
}
.product a:active {
    border-top-color: #fff;
}
/* contact - form, image */
.contact h2 {
    text-align: center;
    text-transform: capitalize;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    padding: 100px 0 36px;
    margin: 0 0 70px;
    position: relative;
}
.contact h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 49px);
    border-top: 1px solid #18cfab;
    width: 76px;
    height: 3px;
}
.contact h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);
    border-bottom: 1px solid #18cfab;
    width: 76px;
}
.contact form {
    margin-bottom: 130px;
    width: 555px;
}
.contact input,
.contact textarea {
    outline: none;
}
.contact input {
    display: block;
    width: 555px;
    height: 55px;
    font-weight: 300;
    color: #90aebd;
    font-size: 14px;
    padding: 20px;
    margin: 15px 0;
    border: none;
    border: 1px solid #d1dddb;
}
.contact textarea {
    font-size: 14px;
    padding: 20px;
    border: none;
    height: 185px;
    width: 100%;
    border: 1px solid #d1dddb;
    resize: none;
}
.contact form > input {
    background: #18cfab;
    font-weight: 700;
    color: #fff;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 5px solid #18cfab;
}
.contact form > input:active {
    border-bottom-color: #08bf9b;
}
/* social - many buttons, */
.social-background {
    background: #1c2b33;
}
.social {
    padding: 130px 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
    color: #b2b2b2;
    text-transform: capitalize;   
}
.social > div {
    width: 20%;
}
.social > div:nth-child(2) {
    width: 30%;
}
.social h2 {
    margin-top: 0;
}
.social h3 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}
.social div:first-child {
    line-height: 1.5;
}
.social div:first-child p span {
    font-weight: 700;
}
.social div:first-child h2 {
    font-size: 40px;
    text-transform: none;
    font-weight: 400;
    color: #fff;
}
.social div:first-child h2 span {
    font-weight: 700;
    color: #18cfab;
}
.recent img {
    margin-bottom: 50px;
    float: left;
    display: block;
    margin-right: 15px;
}
.recent a {
    display: inline-block;
}
.recent a:nth-child(2n):hover {
    color: #18cfab;
}
.recent div a:nth-child(2n) {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    padding-bottom: 15px;
}
.recent div a:nth-child(4n+4) {
    font-weight: 300;
    color: #f1f1f1;
    font-size: 14px;
    padding: 15px 0;
}
.recent p {
    text-transform: none;
    margin: 0;
}
.recent div {
    clear: both;
    border-bottom: 2px solid #294453;
    margin: 25px 0; 
}
.recent div:last-child {
    border-bottom: none;
}
.tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tags div {
    display: flex;
    flex-direction: column;
}
.tags > div {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
    border-bottom: 2px solid #294453;
}
.tags a {
    display: inline-block;
    padding: 11px 13px;
    border: 1px solid #acacac;
    line-height: 1.15;
    color: #c2c1c1;
    text-transform: none;
    margin: 7px;
}
.tags a:hover {
    color: #fff;
    background: #18cfab;
    border-color: #18cfab;
}
.tags div:first-child a {
    margin-left: 0;
}
.newsletter {
    margin-top: 25px;
}
.flike-feed div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flike-feed a {
    display: inline-block;
    margin: 15px;
}
.flike-feed h3 {
    margin: 15px;
}
/* copyright */
.copyright-background {
    background: #22353f;
}
.copyright {
    font-weight: 300;
    color: #aeaeae;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}
.copyright a {
    display: inline-block;
    margin: 45px 0;
    font-weight: 300;
    color: #18cfab;
    border-right: 1px solid #aeaeae;
}