body {
    font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header-top {
    background-color: #2b2b2b;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.number {
    font-weight: 300;
    font-size: .875rem;
    color: #7f7f7f;
    line-height: 1.3;
    float: left;
    padding: 7px;
    padding-left: 0;
}
.log-in {
    font-weight: 400;
    font-size: .875rem;
    color: #666666;
    line-height: 1.5;
    padding: 7px 10px;
    display: inline-block;
}
.user {
    float: right;
    font-weight: 400;
    font-size: .75rem;
    color: #3b3b3b;
    line-height: 1.5;
}
.header-bottom {
    background-color: #232323;
}
.logo {
    margin-top: 32px;
    display: inline-block;
}
@media (max-width: 450px) {
    .logo {
        width: 100%;
        text-align: center;    
    }
}
.search {
    float: right;
    margin-top: 30px;
    border: 1px solid #323232;
}
@media (max-width: 450px) {
    .search {
        float: none;
        margin-top: 20px;                   
    }
}
.search button {
    height: 45px;
    width: 60px;
    background: transparent url(../img/search.png) center center no-repeat;
    float: right;
    padding: 0;
    cursor: pointer;
}
.search input {
    height: 45px;
    width: 200px;
    color: #666666;
    background: transparent;
    padding: 15px 0 15px 25px;
    font-weight: 300;
    font-size: .8125rem;
    line-height: 1.5;
}
.search button,
.search input {
    outline: none;
    border: none;
}
.navigation ul {
    padding-left: 0;
    float: left;
    margin: 7px 0 14px 0;
}
@media (max-width: 650px) {
    .navigation ul {
        float: none;
        margin: 5px;              
    }
}
.navigation li {
    list-style-type: none;
    display: inline-block;
}
@media (max-width: 650px) {
    .navigation li {
        display: block;
        text-align: center;
        margin: 5px;               
    }
}
.menu a {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px;
    display: inline-block;
}
.menu a.active {
    color: #be926f;
}
.navigation ul li:first-child a {
    padding-left: 0;
}
@media (max-width: 650px) {
    .navigation ul li:first-child a {
        padding-left: 20px;        
    }
}
.menu a:hover {
    color: #be926f;
}
.bag {
    float: right;
    padding: 20px;
    padding-right: 10px;
    margin: 7px 0 14px 0;
    position: relative;
    display: block;
    background: transparent url(../img/bag.png) center center no-repeat;
}
@media (max-width: 650px) {
    .bag {
        display: block;
        float: none;
        width: 0;
        margin: 0 auto;
        padding: 40px;       
    }
}
.counter {
    position: absolute;
    top: 3px;
    right: 0;
    background: #be926f;
    height: 16px;
    width: 15px;
    border-radius: 50%;
    display: block;
    color: #232323;
    font-size: .75rem;
    line-height: 1.5;
    text-align: center;
}
@media (max-width: 650px) {
    .counter {
        top: 21px;
        right: 25px;       
    }
}
.main {
    background-color: #f7f7f7;
}
.main-top {
    background-color: #e7e7e7;
    margin-top: 30px;
}
@media (max-width: 650px) {
    .main-top {
        margin-top: 0;     
    }
}
.home-contact {
    float: right;
    color: #999999;
    font-size: .875rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 29.5px 15px;
}
@media (max-width: 650px) {
    .home-contact {
        float:  none;
        text-align: center;     
    }
}
.home-contact a {
    color: #666666;
    padding: 20px 8px;
    display: inline-block;
    position: relative;
}
.home-contact a:after {
    content:'';
    background: transparent url("../img/slash.png") center center no-repeat;
    height: 14px;
    width: 6px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    margin-left: 6px;
}
.home-contact a:last-child:after {
    display: none;
}
.home-contact a:hover {
    color: #999999;
}
.contact-us {
    float: left;
    font-size: 1.875rem;
    line-height: 1.5;
    color: #232323;
    text-transform: uppercase;
    padding: 37.5px 25px;
}
@media (max-width: 650px) {
    .contact-us {
        float:  none;
        text-align: center;            
    }
}
