html {
    font-size: 16px;
}
body {
    min-width: 320px;
    font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header-top {
    background-color: #2b2b2b;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
}
a:hover  {
    text-decoration: none;
    color: #ffffff;
}
.number {
    display: block;
    text-align: center;
    padding: 6px;
    line-height: 1.5;
    font-weight: 300;
    font-size: .875rem;
    color: #7f7f7f;
}
.user {
    float: right;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    font-size: .75rem;
    color: #3b3b3b;
}
.log-in {
    display: inline-block;
    padding: 6px;
    line-height: 1.5;
    font-weight: 400;
    font-size: .875rem;
    color: #666666;
}
.header-bottom {
    background-color: #232323;
}
.logo {
    display: block;
    text-align: center;
    margin-top: 31px;
    padding-left: 15px;
}
.search {    
    float: right;
}
.search form {
    float: none;
    text-align: center;
    margin-top: 31px;
    border: 1px solid #323232;
}
.search input {
    height: 45px;
    line-height: 1.5;
    color: #ffffff;
    background: transparent;
    font-weight: 300;
    font-size: .8125rem;
    font-family: inherit;
}
.search button {
    vertical-align: middle;
    height: 45px;
    width: 60px;
    background: transparent url(../img/search.png) center center no-repeat;
    cursor: pointer;
}
.search button,
.search input {
    outline: none;
    border: none;
}
.navigation {
    text-align: center;
    margin-top: 10px;
}
.navigation a {
    display: block;
    padding: 10px 0;
    line-height: 1.5;
    color: #ffffff;
    font-size: 1rem;
}
.navigation a.active {
    color: #be926f;
}
.navigation a:hover {
    color: #be926f;
}
.bag {
    float: right;
    text-align: center;
    position: relative;
    height: 50px;
    background: transparent url(../img/bag.png) center center no-repeat;
}
.counter {
    position: absolute;
    top: 15%;
    right: 50%;
    display: block;
    height: 16px;
    width: 15px;
    border-radius: 50%;
    line-height: 1.5;
    background: #be926f;
    color: #232323;
    font-size: .75rem;
}
.main-top {
    text-align: center;
    background-color: #e7e7e7;
    
}
.contact-us {
    padding: 10px 0;
    font-size: 1.875rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #232323;
}
.home-contact {
    float: right;
    padding: 10px 0;
    line-height: 1.5;
    color: #999999;
    font-size: .875rem;
    text-transform: uppercase;
}
.home-contact a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    color: #666666;
}
.home-contact a:after {
    content:'';
    position: absolute;
    top: 50%;
    margin-top: -8px;
    margin-left: 9px;
    height: 14px;
    width: 6px;
    background: transparent url("../img/slash.png") center center no-repeat;
}
.home-contact a:last-child:after {
    display: none;
}
.home-contact a:hover {
    color: #999999;
}